@model List<WebDocBao.Models.BaiViet>
@{
    ViewBag.Title = "GetTop";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<k3>Bài viết được xem nhiều nhất</k3>
@{
    foreach (var item in Model)
    {
        <div id="ThongTin">
            <hr />
            <a href="@Url.Action("XemChiTiet","BaiViet",new{@id=item.maBaiViet.Trim()})"></a>
            <div id="hinh">
                <img src="~/Content/images/@item.hinhAnh" width="150" height="150" align="left" hspace="10" />
            </div>
            <div id="baiviet">
                <h3> @item.tuaBaiViet</h3>

                <p>@item.noiDungTomTat</p>
                <a href="@Url.Action("XemChiTiet", "BaiViet", new {@maBV=item.maBaiViet})">
                    Xem chi tiết
                </a>

            </div>
        </div>

    }
}

