body {
    margin: 0px;
    background-color: #ffffff;
    /*border:5px solid black;*/
}
h1{
    font-family:'Times New Roman', Times, serif;
   // border:1px solid black;
    text-align:center;
}
a{
    font-family: 'Times New Roman';
    font-size:14px;
    
    color: black;
}
#main {
    margin: 0px auto;
    width: 1000px;
    height: auto;
    border:1px solid;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 10px;
}
#left{
    width:1000px;
    margin: 2px 2px 3px 5px;
    /*border:1px solid black;*/
     float:left;
     text-align:left;
     margin-left:4px;


}



#left-imag2 {
    width:300px;
    float:left;
   
}
#left-imag2 ul li {
     font-weight: bold;
     font-size:23px;
     //text-decoration: none;
     list-style: none;
}

#right{
    margin:2px 2px 3px 5px;
    width:auto;
    float:left;
    clear:both;
    padding-left:20em;
    text-align:left;
//  border:2px solid black;
    
}
#footer {
    width: 1000px;
    clear: both;
    padding-bottom: 10px;
    // border:2px solid blue;
    text-align: center;
    background-color: #ffffff;
}