body {
    margin: 0px;
    background-color: #b6ff00;
    /*border:5px solid black;*/
}

h1 {
    font-family: Tahoma;
    /*border:1px solid black;*/
    text-align: center;
}

a {
    font-family: 'Times New Roman';
    font-size: 14px;
    font-style: italic;
    color: black;
}

#main {
    margin: 0px auto;
    width: 1000px;
    height: auto;
    /*// border:1px solid blue;*/
    text-align: center;
    background-color: #d9eafc;
    margin-bottom: 10px;
}

#left {
    width: 1000px;
    margin: 2px 2px 3px 5px;
    /*//border:1px solid black;*/
    float: left;
    text-align: left;
    margin-left: 4px;
}



#left-imag2 {
    width: 650px;
    float: left;
}

    #left-imag2 ul li {
        font-weight: bold;
        text-decoration: none;
        list-style: none;
    }

#right {
    margin: 2px 2px 3px 5px;
    width: auto;
    float: left;
    clear: both;
    padding-left: 20em;
    text-align: left;
    /*// border:2px solid black;*/
}

#footer {
    width: 1000px;
    clear: both;
    padding-bottom: 10px;
    /*// border:2px solid blue;*/
    text-align: center;
    background-color: #d9eafc;
}
